
# Release notes
RELEASE_NOTES.md
node_modules
/build
/.svelte-kit
/package
/android
/ios
.agents
.codex
.claude
!.env.example
.env
.data/
lnuts.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

src/model/nostr-worker/target
.env
screenshots
archive/
*.wasm
server.js
.pi
.kimi/
